.navbar-nav a {
  font-size: 18px;
}

.card-bg-cls {
  height: 50rem !important;
  border-radius: 0 !important;
}

.bg-img {
  height: 50rem;
  width: 65rem !important;
  position: absolute;
  right: 0;
  top: 0;
}
